{% extends 'base.html' %}
{% load static %}
{% block title%}
RequestedItems
{%  endblock %}

{% block content %}
<h3 class="text-center">Requested Items Today</h3>
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.container{
  width: 60%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #b62a5e;
}
table, tr, td {
  border: 1px solid black;
</style>
<h4  style="text-align:right;"><a href="{% url 'admin' %}">Back</a></h4>
<div class="container">
    {% for i in requestitem %}
            <table style="width:90%">
                <tr>
                    <td><h5>{{i.request_date}}</h5></td>
                </tr>
                <tr>
                    <td><h5>{{i.requester_name}}</h5></td>
                </tr>
                <tr>
                    <td><h5>{{i.requester_email}}</h5></td>
                </tr>
                <tr>
                    <td><h6>{{i.request_items}}</h6></td>
                </tr>
            </table>
    {% endfor %}
</div>
{% endblock %}
